* {
    /* border: 2px solid red; */
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px 200px 100px 200px;
    gap: 100px
}

.navigation {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
}

.header-logo a{
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.header-text {
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

strong {
    font-size: 48px;
    font-weight: bolder;
}

strong, p {
    display: inline-flex;
}


button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 24px;
    border-radius: 10px;
    flex: 0 0 auto;
    width: 150px;
    outline: none;
    border-style: none;
    font-weight: bold;
}

button:hover{
    cursor:pointer;
}



.header-image {
    display: flex;
    background-color: gray;
    width: 1200px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 30px 320px;
    gap: 30px;
}

h3 {
    flex: 1;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    align-self: center;
    justify-content: center;
}

.cards-section {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.image {
    border-radius: 10px;
    flex: auto;
    justify-content: center;
    width: 160px;
    height: 160px;
    border: 3px solid #3882F6;
}

.text {
    flex: 1;
    text-align: center;
    width: 160px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px 400px;
    gap: 10px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-name {
    flex: auto;
    align-self: end;
    font-weight: bold;
}

.sign-up {
    display: flex;
    padding: 80px 280px;
}

.banner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 50px 120px;
    border-radius: 10px;
}

.text-section {
    display: flex;
    gap: 5px;
    color: #F9FAF8;
    flex-direction: column;
}

.banner-heading {
    font-size: 30px;
    font-weight: bold;
}

.banner button {
    border: 2px solid white;
    font-style: normal;
}

footer{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    padding: 24px;
}